<html>
    <head>
        <title>Request Header Parser Microservice</title>
    </head>
    
    <body >
        
    </body>
    
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    
    <script src='/script.js'></script>
</html>